body {
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  font-size: 25px;
  background-color: rgba(229, 228, 228, 0.7);
}

/* Header */
header {
  margin: -10px -7px -10px -7px;
  height: 80px;
}

h1 {
  text-align: center;
  font-size: 45px;
  text-decoration: underline;
  font-family: Righteous, sans-serif;
  margin: 10px 20px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.title-icon {
  position: relative;
  top: -50px;
  left: 590px;
  font-size: 50px;
  color: orange;
}
/* End of Header */

/* Main */
main {
  margin: 0px 0px 0px 0px;
}

/* End of Main */

/* Form */
form {
  margin: 0px auto;
  font-family: "Uroob", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 40px;
  margin: 5px 0px 0px 0px;
}

#list-item-input {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  width: 850px;
  height: 50px;
  margin: -20px 10px 0px 0px;
  background-color: rgba(177, 176, 176, 0.3);
  /* box-shadow: 2px 7px 8px 1px rgba(199, 199, 199, 0.5); */
  font-family: "Nakula", sans-serif;
}

#list-item-input:focus {
  outline: none;
  border: 1px solid orange;
  background-color: white;
  height: 50px;
  box-shadow: 2px 7px 8px 1px rgba(255, 166, 2, 0.07);
}

button {
  position: relative;
  top: -50px;
  left: 390px;
  border: 1px solid rgba(36, 35, 35, 0);
  border-radius: 20px;
  height: 45px;
  width: 55px;
  background-color: rgba(255, 166, 0, 0.8);
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: darkorange;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.03);
}

.addToList-icon {
  font-size: 40px;
  text-align: center;
  margin: 0px 0px 0px -1px;
}

input[placeholder="Type here"] {
  text-align: center;
  font-size: 25px;
}
/* End of Form */

/* List item display */

#item-display {
  font-family: Manjari, "Comic Sans MS", sans-serif;
  max-width: 100%;
  margin: 5px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  /* background-color: rgba(229, 228, 228, 0.8); */
  background-color: white;
}

h2 {
  margin: 10px 0px 0px 20px;
  text-decoration: underline;
  font-size: 30px;
}

li {
  padding: 5px 0px 10px 5px;
  margin: 15px 0px -15px 5px;
  width: 1400px;
  height: 20px;
  font-size: 24px;
}

li:hover {
  border: 1px solid rgba(12, 12, 12, 0.2);
  height: 30px;
  margin: 15px 0px -25px 0px;
  padding: 10px 0px 10px 13px;
  border-radius: 20px;
  background-color: rgba(208, 208, 208, 0.1);
  max-width: 100%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

ul p {
  margin: 13px 0px 5px 10px;
  padding: 0px 0px 5px 5px;
}

/* List item display end */
